{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Site</title>

    <link rel="stylesheet" href="{% static "CSS/bootstrap.min.css"  %}">

    <script src="{% static "JS/jquery-3.4.1.slim.min.js" %}"></script>
    <script src="{% static "JS/popper.min.js" %}"></script>
    <script src="{% static "JS/bootstrap.min.js" %}"></script>
</head>
<body>
    <div class="page-header">
        <h1>Django Blog</h1>
        {% if request.user.is_authenticated %}
            Hello, {{ request.user.username }} [<a href="/auth/logout">Logout</a>]
        {% else %}
            Hello, Anonim [<a href="/auth/login">Login</a>]
        {% endif %}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>